#holder{
  display: block;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 22px;
  padding-bottom: 22px;
}

#header{
  display: block;
  padding-bottom: 45px;
}

#nav ul{
  list-style-type: none;
}

#nav li{
  float: left;
  padding-right: 3px;
}

#nav li a{
  padding: 0 14px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: #ccc 1px 1px 1px;
}

#nav li a:hover{
  text-decoration:underline;
}

#AARRV{
  min-height: 500px;
}

#AARRV hr{
  width: 55%;
}

#AARRV h4, p{
  padding: 0 10px;
}

.column{
  position: relative;
  float: left;
  width: 25%;
}

.column h3{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

