<!DOCTYPE HTML>
<head> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
    <title>AARRV Mockup</title> 
    <link rel="stylesheet" type="text/css" href="style.css" /> 
</head>
<body>
<div id="holder">
<div id="header">
  <a href="http://www.opengovernment.org">
    <img alt="OpenGovernment" src="http://opengovernment.org/images/state-badges/og-big.png" />
  </a>
  <div id="nav">
    <ul>
      <li><a href="http://www.participatorypolitics.org">PPF</a></li>
      <li><a href="http://www.opencongress.org">OpenCongress</a></li>
      <li><a href="http://www.opengovernment.org">OpeGovernment</a></li>
    </ul>
  </div>
</div>
<div id="AARRV">
    <h4>ARRRRRRRRRRV</h4>
    <p>This is a test to make sure that everything looks ok. Man it has been way too long since I've had to work on a project like this. Next time I have to make sure to keep up on my skills.</p>
    <div class="column">
      <h3>Acquisition</h3>
      <hr />
      <h2>{{ num_watchers}}</h2>
      <p>Number of watchers</p>
    </div>
    <div class="column">
      <h3>Activation</h3>
      <hr />
        <h2>{{num_contrib}}</h2>
        <p>Number of coders</p>
    </div>
    <div class="column">
      <h3>Retention</h3>
      <hr/>
    </div>
    <div class="column">
      <h3>Value</h3>
      <hr/>

        <p> {{ hello }} </p>

    </div>
  </div>
</div>
<div id="githubStats">

</div>

</body>
</html>

